<?xml version="1.0" ?>
<model>
  <name>motor_drive</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Agan Simsek</name>
    <email>asimsek@altinay.com.tr</email>
  </author>

  <description>
    pmb2 differential drive vehicle model.
  </description>
</model>